/*****************************
	variables and .hide
*****************************/

:root {
	/*variables*/
	--main-yellow: #f4cb84;
	--main-red: #f38363;
	--secondary-red: #ec344a;
	--secondary-red-alt: #f07563;
	--accept-green: #00e500;
	--background-grey: #e7d2cc;
	--gold: #FFD700;
	--icon-distance: 0.5em;
}

.hide{
	display: none;
}

/*****************************
	reset/general
*****************************/

html {
	background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--main-yellow);
	text-align: center;
	margin: 0;
}
html, body, #container, #result-container {
	height: 100%;
	margin-top: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

/*****************************
	img, search bar and result container
*****************************/

#search-box:focus, #search-form button{
	outline: none;
}

#logo img {
	margin-top: 35px;
	width: 200px;
	height: 200px;
}
form button {
	width: 45px;
	padding: 10px;
	background: var(--main-red);
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	color: black;
	margin-left: -0.5%;
	-webkit-appearance: none;
}
#search-form input {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 35%;
	background: #f1f1f1;
}
#result-container {
	font-size: 25px;
}

/*****************************
	style for each movie, within the result container
*****************************/

#movie-container {
	/*
	this div, and only this div, is positioned above sidebar menu
	even though sidebar menu has higher z-index
	unsure why
	could be something within this card itself, or the parents

	fixed by adding z-index: 1; to sidebar
	*/

	width: 65%;
	height: 165px;
	background-color: var(--background-grey);
	border-radius: 5px;
	border: 1px solid grey;
	margin: 15px auto 0;
	text-align: left;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: transform;

}

#movie-container img {
	width: 105px;
	height: 100%;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
}
#movie-container #text {
	flex-grow: 1;
	box-sizing: border-box;
	overflow-y: hidden;
	margin: 10px 0 10px 10px;
}
#movie-container #title-year {
	font-size: 32px;
	vertical-align: top;
}
#movie-container #actors, #movie-container #awards {
	display: inline-block;
	margin-top: 0;
	font-size: 18px;
}
#movie-container #rating {
	background: var(--main-red);
	padding: 0;
	min-width: 11%;

	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	/*allows centering*/
	justify-content: center;
	/* align horizontal */
	align-items: center;
	/* align vertical */
}
#movie-container #rating i {
	font-size: 20px;
	color: #FFD700;
	text-shadow: 0 0 3px #000;
	margin-right: 5px;
}
#movie-container #rating #rating-score {
	font-size: 30px;
}
#movie-container #rating #rating-max {
	font-size: 18px;
	color: #696969;
}

/*****************************
	modal box design
 *****************************/

.modal-box {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 200; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 80px;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.5s
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.modal-content p{
	margin-top: 0;
	font-size: 25px;
}

.close {
	color: var(--main-red);
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -20px;
	margin-right: -10px;
}

#save{
	border-radius: 4px;
	border: solid 2px white;
	background-color: var(--accept-green);
	padding: 3px;
	font-size: 15px;
}

#cancel{
	background-color: #fefefe;
	border: none;
	margin-left: 10px;
	font-size: 15px;
}

/*****************************
	favourites movies list
	using this as hamburger menu design
	https://codepen.com/erikterwan/pen/EVzeRP
*****************************/

/*
this is the parent of the favourite movie sidebar
*/
#favourite-movies-container{
	display: block;
	position: fixed;

	top: 30px;
	left: 55px;

	/*stops user from being able to select text here*/
	-webkit-user-select: none;
	user-select: none;

	z-index: 1;
	/*this is only to
	prevent movie cards to be placed in front of sidebar
	when a user hovers or focuses movie card*/
}

/*
designing the hamburger icon and transformation
*/

#slice1, #slice2, #slice3{
	position: relative;
	display: block;

	/*styles the spans into slices*/
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	background: black;
	border-radius: 3px;

	/*this transforms the slices into an x shape*/
	transform-origin: 4px 0;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;

	/*makes it higher than the sidebar content, except for input toggle*/
	z-index: 100;
}

/*
pulse grey on save to list
*/
.pulse-grey-animation{
	-webkit-animation: pulse 1.0s 3 ease-in-out;
	-o-animation: pulse 1.0s 3 ease-in-out;
	-moz-animation: pulse 1.0s 3 ease-in-out;
	animation: pulse 1.0s 3 ease-in-out;
}

@-webkit-keyframes pulse {
	0% {background-color: black;}
	50% {background-color: #778899;}
	100% {background-color: black;}
}

@keyframes pulse {
	0% {background-color: black;}
	50% {background-color: #778899;}
	100% {background-color: black;}
}

/*slide sidebar in and out */
#input-hamburger:checked ~ #favourite-movies-content-container {
	transform: none;
	/*
	since there is no "display: none" when unchecked, it'll block any content underneath
	circumvented by setting width on child container, instead of parent container
	*/
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*
 * Transform all the spans
 * into a crossmark.
 */
#slice2{
	transform-origin: 0 0;
}

#slice3{
	transform-origin: 0 100%;
}

#input-hamburger:checked ~ #slice1, #input-hamburger:checked ~ #slice2, #input-hamburger:checked ~ #slice3{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: black;
}

/*
 * hide the middle span.
 */
#input-hamburger:checked ~ #slice2 {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
make last span go in other direction
 */
#input-hamburger:checked ~ #slice3{
	transform: rotate(-45deg) translate(0, -1px);
}

/*
design the hidden input node
*/
#input-hamburger{
	display: block;
	position: absolute;

	width: 40px;
	height: 32px;
	top: -7px;
	left: -5px;
	/*top: 30px;*/
	/*left: 30px;*/

	cursor: pointer;

	opacity: 0; /* hide it */
	z-index: 101; /* and place it over the hamburger */

	/*removes ability for user to hold touch over a node and do things (see information?) */
	-webkit-touch-callout: none;
}

/*****************************
	designing the container for content
*****************************/

#favourite-movies-content-container{
	margin: -100px 0 0 -55px;
	padding: 25px;
	padding-top: 90px;

	/*height: 100vh;*/
	height: auto;
	min-height: 100vh;

	width: 275px;
	/*if i set the width of the sidebar menu at the parent container
	it blocks the content behind the sidebar, even when input-hamburger.unchecked
	however, if i set the width here it doesn't block any content*/

	background: var(--main-red);
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0 0;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#favourite-movies-container h3{
	font-size: 22px;
	font-family: Arial, serif;
	display: inline-block;
}

#edit-favourite-movies-icon::before{
	/*edit icon, for starting to deleting favourites*/
	font-family: "Font Awesome 5 Free";
	content: "\f304";
	font-style: normal;
	font-weight: bold;

	font-size: 20px;
	margin-left: var(--icon-distance);
	display: inline-block;

	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: transform;
}

#edit-favourite-movies-icon.confirm-favourite-movies::before{
	/*confirm icon, for exiting the edit mode*/
	content: "\f00c";
}

/*****************************
	firebaseAuth
 *****************************/

/*TODO REDO BUTTONS AND STYLING*/
#firebase-auth-container {
	margin-top: 40px;
	font-size: 18px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#sign-in-status::after{
	font-family: "Font Awesome 5 Free", serif;
	content: "\f007";
	font-style: normal;
	font-weight: bold;

	margin-left: var(--icon-distance);
}

#sign-out{
	margin-top: 10px;
	width: 65%;
	text-align: center;
}

#sign-out::after{
	font-family: "Font Awesome 5 Free", serif;
	font-style: normal;
	font-weight: bold;
	content: "\f2f5";

	margin-left: var(--icon-distance);
}

/*****************************
	designing the list
*****************************/

#favourite-movies-list{
	list-style-type: none;
	font-size: 18px;
}

#favourite-movie-li{
	margin-bottom: 20px;
	text-align: left;
}

#favourite-movie-li .fa-star {
	color: var(--gold);
	margin-left: 8px;
}

#favourite-movie-li .fa-trash{
	margin-left: 8px;
	float: right;
	/*display: none;*/
}

#show-favourite-movies{
	border-radius: 4px;
	border: solid 2px var(--main-yellow);
	background-color: var(--main-yellow);
	padding: 3px;
	font-size: 20px;
}

/*****************************
	all hover selects below
	this media query only includes devices that have hover (ie. cursor) support
 *****************************/

@media (hover: hover) {
	#show-favourite-movies:hover, #cancel:hover, #save:hover, #sign-out:hover {
		cursor: pointer;
	}
	#edit-favourite-movies-icon:hover {
		color: grey;
		transition: color 0.2s ease;
		cursor: pointer;
	}
	#movie-container:hover {
		cursor: pointer;

		transform: scale(1.03);
		-moz-transform: scale(1.03);
		-ms-transform: scale(1.03);
	}
	.close:hover{
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	.favourite-movie-anchor:hover {
		cursor: pointer;
		color: var(--main-yellow);
		transition: color 0.2s ease;
	}
	#favourite-movie-li .fa-trash:hover {
		cursor: pointer;
		color: grey;
		transition: color 0.2s ease;
	}

}

/*****************************
	responsive design
 *****************************/

@media screen and (max-width: 1300px) {
	img {
		width: 100px;
		height: 100px;
	}
	#movie-container {
		width: 94%;
		height: 160px;
		margin-top: 15px;

		box-shadow: none;
		transition-property: none;
	}
	#movie-container:hover, #movie-container:focus, #movie-container:active {-webkit-transform: none;
		transform: none;
		-moz-transform: none;
		-ms-transform: none;

		/*is this necessary, now that i've used media query for selection of devices with cursors?*/
	}
	#movie-container img {
		width: 85px;
		height: 100%;
	}
	#movie-container #text {
		margin: 5px 0 0 5px;
	}
	#movie-container #text #title-year {
		font-size: 22px;
	}
	#movie-container #text #actors, #movie-container #text #awards {
		font-size: 14px;
	}
	#movie-container #rating {
		padding: 0 9px 0 9px;
		flex-grow: 0.1;
		min-width: 13%
	}
	#movie-container #rating i {
		font-size: 15px;
	}
	#movie-container #rating #rating-score {
		font-size: 22px;
	}
	#movie-container #rating #rating-max {
		font-size: 15px;
		display: none;
	}
	.modal-content{
		height: 60px;
		width: 45%;
	}
	.modal-content p{
		margin-top: 0;
		font-size: 20px;
	}

	#favourite-movies-container{
		/*
		TODO: wip
		what I want to do is make sure the height of the sidebar menu matches the page height
		doesn't work atm. see main.js*/
		/*position: absolute;*/
	}

	/*
	makes the hamburger menu display: none (and not slide) on mobile devices
	so it doesn't block content underneath
	*/
	#input-hamburger:checked ~ #favourite-movies-content-container {
		transform: none;
	}
	#input-hamburger:not(:checked) ~ #favourite-movies-content-container {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.modal-content{
		height: 90px;
	}
	#edit-favourite-movies-icon{
	font-size: 25px;
	 }
	#favourite-movie-li .fa-trash{
		font-size: 25px;
	}
}
/*https://www.canva.com/colors/color-palette-generator/*/