:root {
	/*variables*/
	--main-yellow: #f4cb84;
	--main-red: #f38363 ;
	--accept-green: #08b335;
}

html {
	background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--main-yellow);
	text-align: center;
	margin: 0;
}
html, body, #container, #result-container {
	height: 100%;
	margin-top: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
#logo img {
	margin-top: 35px;
	width: 200px;
	height: 200px;
}
form button {
	width: 45px;
	padding: 10px;
	background: var(--main-red);
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	color: black;
	margin-left: -0.5%;
	-webkit-appearance: none;
}
form input {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 35%;
	background: #f1f1f1;
}
#result-container {
	font-size: 25px;
}
#movie-container {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: transform;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
	height: 165px;
	background: #e7d2cc;
	border-radius: 5px;
	border: 1px solid grey;
	margin: 20px auto 0;
	position: relative;
	text-align: left;
}
#movie-container:hover, movie-container:focus, movie-container:active {
	transform: scale(1.03);
	cursor: pointer;
}
#movie-container img {
	width: 105px;
	height: 100%;
	padding: 10px 0 10px 10px;
	box-sizing: border-box;
}
#movie-container #text {
	flex-grow: 1;
	box-sizing: border-box;
	overflow-y: hidden;
	margin: 10px 0 10px 10px;
}
#movie-container #title-year {
	font-size: 32px;
	vertical-align: top;
}
#movie-container #actors, #movie-container #awards {
	display: inline-block;
	margin-top: 0;
	font-size: 18px;
}
#movie-container #rating {
	background: var(--main-red);
	flex-grow: 0.2;
	display: flex;
	/*allows centering*/
	justify-content: center;
	/* align horizontal */
	align-items: center;
	/* align vertical */
	padding: 0;
	min-width: 18%
}
#movie-container #rating i {
	font-size: 20px;
	color: #FFD700;
	text-shadow: 0 0 3px #000;
	margin-right: 5px;
}
#movie-container #rating #rating-score {
	font-size: 30px;
}
#movie-container #rating #rating-max {
	font-size: 18px;
	color: #696969;
}

/*
 * modal box design
 */

.modal-box {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
	height: 80px;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.5s
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.modal-content p{
	margin-top: 0;
	font-size: 25px;
}

.close {
	color: var(--main-red);
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: -20px;
	margin-right: -10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#save{
	border-radius: 4px;
	border: solid 2px white;
	background-color: var(--accept-green);
	padding: 3px;
	font-size: 15px;
}

#save:hover,
#save:focus {
	cursor: pointer;
}

#cancel{
	background-color: #fefefe;
	border: none;
	margin-left: 10px;
	font-size: 15px;
}

#cancel:hover,
#cancel:focus {
	cursor: pointer;
}

/*
favourites movies list
using this as hamburger menu design
https://codepen./erikterwan/pen/EVzeRP
*/

/*
this is the parent of the favourite movie sidebar
*/
#favourite-movies-toggle{
	display: block;
	position: fixed;

	top: 30px;
	left: 30px;

	z-index: 100;

	/*stops user from being able to select text here*/
	-webkit-user-select: none;
	user-select: none;
}

/*
designing the hamburger icon and transformation
 */

#favourite-movies-toggle span{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: black;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;

}

/*
pulse grey on save to list
*/
.pulse-grey-animation{
	-webkit-animation: pulse 1.0s 3 ease-in-out;
	-o-animation: pulse 1.0s 3 ease-in-out;
	-ms-animation: pulse 1.0s 3 ease-in-out;
	-moz-animation: pulse 1.0s 3 ease-in-out;
	animation: pulse 1.0s 3 ease-in-out;
}

@-webkit-keyframes pulse {
	0% {background-color: black;}
	50% {background-color: #778899;}
	100% {background-color: black;}
}

@keyframes pulse {
	0% {background-color: black;}
	50% {background-color: #778899;}
	100% {background-color: black;}
}

#favourite-movies-toggle #slice2{
	transform-origin: 0% 0%;
}

#favourite-movies-toggle #slice3{
	transform-origin: 0% 100%;
}

/*
 * Transform all the spans
 * into a crossmark.
 */
#favourite-movies-toggle input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: black;
}

/*
 * hide the middle span.
 */
#favourite-movies-toggle input:checked ~ #slice2 {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * make last span go in other direction
 */
#favourite-movies-toggle input:checked ~ #slice3{
	transform: rotate(-45deg) translate(0, -1px);
}

/*
design the hidden input node
*/
#favourite-movies-toggle input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0; /* hide it */
	z-index: 101; /* and place it over the hamburger */

	/*removes ability for user to hold touch over a node and do things (see information?) */
	-webkit-touch-callout: none;
}

/*
designing the container and content
*/
#favourite-movies-container{
	width: 250px;
	margin: -100px 0 0 -55px;
	padding: 25px;
	padding-top: 120px;
	height: 100vh;

	background: var(--main-red);
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#favourite-movies-list{
	list-style-type: none;
}

#favourite-movies-list li{
	padding: 10px 0;
	font-size: 22px;
	text-align: left;
}

#favourite-movies-toggle input:checked ~ #favourite-movies-container
{
	transform: none;
}

#favourite-movies-toggle a{
	text-decoration: none;
	/*color: #232323;*/
	/*unsure of hte color here */

	transition: color 0.3s ease;
}

#favourite-movies-toggle a:hover {
	/*color: tomato;*/
	/*unsure of hte color here */
}

#show-favourite-movies{
	border-radius: 4px;
	border: solid 2px var(--main-yellow);
	background-color: var(--main-yellow);
	padding: 3px;
	font-size: 15px;
}

#show-favourite-movies:hover,
#show-favourite-movies:focus {
	cursor: pointer;
}

@media screen and (max-width: 1300px) {
	img {
		width: 100px;
		height: 100px;
	}
	#movie-container {
		width: 100%;
		height: 160px;
		margin-top: 10px;
	}
	#movie-container img {
		width: 85px;
		height: 100%;
	}
	#movie-container #text {
		margin: 5px 0 0 5px;
	}
	#movie-container #text #title-year {
		font-size: 22px;
	}
	#movie-container #text #actors, #movie-container #text #awards {
		font-size: 14px;
	}
	#movie-container #rating {
		padding: 0 9px 0 9px;
		flex-grow: 0.1;
		min-width: 13%
	}
	#movie-container #rating i {
		font-size: 15px;
	}
	#movie-container #rating #rating-score {
		font-size: 22px;
	}
	#movie-container #rating #rating-max {
		font-size: 15px;
		display: none;
	}
	#movie-container:hover, movie-container:focus, movie-container:active {
		transform: scale(1.00);
	}
	.modal-content{
		height: 60px;
		width: 45%;
	}
	.modal-content p{
		margin-top: 0;
		font-size: 20px;
	}
}
/*https://www.canva.com/colors/color-palette-generator/*/