html {
	background-repeat: no-repeat;
	background-position: right top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: #f4cb84;
	text-align: center;
}
img {
	width: 200px;
	height: 200px;
}
form button {
	width: 45px;
	padding: 10px;
	background: #f38363;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;
	color: black;
	margin-left: -0.5%;
	-webkit-appearance: none;
}
form input {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	width: 40%;
	background: #f1f1f1;
}
#result ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

/*#result ul li {
	text-align: left;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: transform;
	cursor: pointer;
	padding-bottom: 10px;
}
li:hover, li:focus, li:active {
	transform: scale(1.1);
}*/

#movie-container {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
	transition-property: transform;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 35%;
	height: 20%;
	background: #e7d2cc;
	border-radius: 5px;
	border: 1px solid grey;
	margin-top: 20px;
	position: relative;
	text-align: left;
}
#movie-container img {
	width: 105px;
	height: 145px;
	padding: 10px 0px 10px 10px;
	box-sizing: border-box;
}
#movie-container #text {
	flex-grow: 1;
	margin: 10px 0 0 15px;
	box-sizing: border-box;
}
#movie-container #title-year {
	font-size: 32px;
	vertical-align: top;
}
#movie-container #actors {
	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
}
#movie-container #rating {
	text-align: center;
	background: #f38363;
	flex-grow: 0.3;
	margin-bottom: 0 auto;
	margin-top: 0 auto;
	display: flex;
	/*allows centering*/
	justify-content: center;
	/* align horizontal */
	align-items: center;
	/* align vertical */
	padding: 0 15px 0 15px;
}
#movie-container #rating i {
	font-size: 18px;
	color: #FFD700;
	text-shadow: 0 0 3px #000;
}
#movie-container #rating #rating-score {
	font-size: 26px;
}
#movie-container #rating #rating-max {
	font-size: 18px;
	color: #696969;
}
#movie-container:hover, movie-container:focus, movie-container:active {
	transform: scale(1.03);
}
@media screen and (max-width: 1300px) {
	img {
		width: 100px;
		height: 100px;
	}
	#movie-container {
		width: 95%;
		height: 30%;
	}
	#movie-container img {
		width: 15%;
	}
	#movie-container #text {
		margin-top: 4px;
	}
	#movie-container #text #title-year {
		font-size: 28px;
	}
	#movie-container #text #actors {
		margin-top: 4px;
		font-size: 14px;
	}
	#movie-container #rating {
		padding: 0 9px 0 9px;
	}
	#movie-container #rating i {
		font-size: 15px;
	}
	#movie-container #rating #rating-score {
		font-size: 22px;
	}
	#movie-container #rating #rating-max {
		font-size: 15px;
	}
}
/*https://www.canva.com/colors/color-palette-generator/*/