/*****************************
	variables and .hide
*****************************/

:root {
    /*variables*/
    --dark-beige: #f4cb84;
    --main-red: #f38363;
    --secondary-red: #ec344a;
    --secondary-red-alt: #f07563;
    --accept-green: #00e500;
    --background-grey: #e7d2cc;
    --gold: #FFD700;

    --light-beige: #ffe4b3;

    --icon-distance: 0.5em;
    --icon-distance-secondary: 0.2em;

    --font-title-main: 'Limelight', cursive;
    --font-title-secondary: 'Calistoga', cursive;

    --fontsize-title: 46px;
    --fontsize-title-small: 36px;
    --fontsize-title-smaller: 28px;
    --fontsize-title-smallest: 22px;
    --fontsize-text-large: 16px;
    --fontsize-text: 13px;
}

.hide{
    display: none;
}

.curved {
    position: absolute;
    top: 0;
    background: var(--light-beige);
    height: 55vh;
    border-bottom-left-radius: 40% 5%;
    border-bottom-right-radius: 40% 5%;
    width: 100%;
    z-index: -5;
}


/*****************************
	reset/general
*****************************/

html {
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-beige);
    text-align: center;
    margin: 0;
    font-size: var(--fontsize-text);
}
html, body, #container, #result-container {
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/*****************************
	img, title search bar and result container
*****************************/

#title{
    font-family: var(--font-title-main);
    font-weight: normal;
    font-size: 45px;
    display: block;
}

#search-box:focus, #search-form button{
    outline: none;
}

#logo img {
    margin-top: 35px;
    width: 250px;
    height: 250px;
}

#main-search-button{
    padding: 0.5em 0;
    width: 65px;
    font-size: 20px;
    margin-left: var(--icon-distance);
    box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);

}

#search-form input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 35%;
    background: #f1f1f1;
}

#result-container{
    background-color: var(--dark-beige);

    margin-top: 10px;
    padding: 7px;
}

/*****************************
	style for each movie, within the result container
*****************************/

.movie-container {
    /*
    this div, and only this div, is positioned above sidebar menu
    even though sidebar menu has higher z-index
    unsure why
    could be something within this card itself, or the parents

    fixed by adding z-index: 1; to sidebar
    */

    position: relative;

    width: 100%;
    height: 160px;
    margin: 5px auto;
    background-color: var(--background-grey);
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-container img {
    height: 100%;
    box-sizing: border-box;
    width: 85px;

}
.movie-container .text {
    margin: 0.5em;
    box-sizing: border-box;
    overflow-y: hidden;
    font-size: var(--fontsize-text);
    flex-grow: 1;

}
.movie-container .title-year {
    font-size: var(--fontsize-text-large);
}
.movie-container .actors, .movie-container .awards {
    display: block;

    /*line-clamp hides the rows after n:th row*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 14px;
    -webkit-line-clamp: 3;
    margin-top: 0.5em;
}
.movie-container .rating-container {
    position: relative;
    top: 0px;
    right: 0px;
    height: 65px;
    width: 65px;
    text-align: center;
    border-bottom-left-radius: 100% ;

    background: var(--main-red);

    flex-grow: 0;
    flex-shrink: 0;
}

.movie-container .rating{
    margin-right: -5px;
    margin-top: 15px;

    display: flex;
    /*allows centering*/
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

.movie-container .rating i {
    font-size: 14px;
    color: #FFD700;
    text-shadow: 0 0 3px #000;
    margin-right: var(--icon-distance-secondary);
}
.movie-container .rating-score {
    font-size: 18px;
}
.movie-container .rating-max {
    color: #696969;
    font-size: 15px;
    display: none;
}

.save-to-favorites{
    font-size: 32px;
    color: var(--secondary-red);
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: var(--background-grey);

}

/*****************************
	responsive design
 *****************************/

@media screen and (max-width: 1300px) {

    .movie-container {

    }
    .movie-container img {

    }
    .movie-container .text {

    }
    .movie-container .text .title-year {
    }
    .movie-container .actors, .movie-container .awards {

    }
    .movie-container .rating {
    }
    .movie-container .rating i {
    }
    .movie-container .rating .rating-score {

    }
    .movie-container .rating .rating-max {

    }
}
