html{
 	/*background: url('curtain-1275200.png'); 
 	background-repeat: no-repeat;
	background-position: right top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;*/
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: #f4cb84;
	text-align: center;
}

form text, input{
	font-size: 16px;
}

img{
	width: 200px;
	height: 200px;
}

button{
	background-color: #f38363;
	color: black;
	font-size: 16px;
	border-radius: 4px;
	padding: 5px 12px;
}

ul{ 
	display: inline-block;
}

ul a{
	text-decoration: none;
	color: black;
}

li{
	text-align: left;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

li:hover,
li:focus,
li:active {
	transform: scale(1.1);
}