html{
 	background-repeat: no-repeat;
	background-position: right top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: #f4cb84;
	text-align: center;
}

img{
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

button{
	background: #f38363;
	color: black;
	font-size: 16px;
	border-radius: 0px 5px 5px 0px;
	padding: 5px 12px;
	cursor: pointer;

	margin-left: -50px;
  	border: 0;
 	-webkit-appearance: none;
  	height: 25px;
	width: 50px;
	
}

input{
	padding-right: 50px;
	height: 20px;
	width: 200px;
	font-size: 16px;
}

ul{ 
	display: inline-block;
}

a{
	text-decoration: none;
	color: inherit;
	outline: none;
}

li{
	text-align: left;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

li:hover,
li:focus,
li:active {
	transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
	img{
		width: 75px;
		height: 75px;
	}
}
/*https://www.canva.com/colors/color-palette-generator/*/
