html{
 	background-repeat: no-repeat;
	background-position: right top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	color: black;
	font-family: 'Montserrat', sans-serif;
	background-color: #f4cb84;
	text-align: center;
}

img{
	width: 200px;
	height: 200px;
	/*display: block;
	margin: auto;*/
}

button{
 	width: 3%;
  	padding: 10px;
	background: #f38363;  color: white;
  	font-size: 17px;
  	border: 1px solid grey;
  	border-left: none;
  	cursor: pointer;
  	border-radius: 0px 5px 5px 0px;
  	color: black;
	margin-left: -0.5%;
 	-webkit-appearance: none;	
}

input{
	padding: 10px;
  	font-size: 17px;
  	border: 1px solid grey;
  	width: 40%;
  	background: #f1f1f1;
}

ul{ 
	display: inline-block;
}

a{
	text-decoration: none;
	color: inherit;
	outline: none;
}

li{
	text-align: left;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
    font-size: 20px;
}

li:hover,
li:focus,
li:active {
	transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
	img{
		width: 75px;
		height: 75px;
	}
}
/*https://www.canva.com/colors/color-palette-generator/*/
