/*styling for main elements*/
html{
 	background: url('green-gradient.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
}
header{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: black;
	color: white;
	font-size: 15px;
	height: auto;
	width: 100%;
	font-family: 'Fira Mono', sans-serif;
	font-weight: 200;
	letter-spacing: 3px;
}
table{
	border-collapse: collapse;
	white-space: nowrap;
}
table, th, td{
	border: 1px solid white;
}
th, td{
	padding: 5px;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
#main{
	padding: 20px;
}

/*Styling for inlamning4*/
.inlamning4 h1{
	font-family: arial;

}
.inlamning4 h2{
	border: 5px;
	color: #096c3d;
	border-style: solid;
	color: white;
}
.inlamning4 h3{
	font-style: italic;
}
#main.inlamning4 h1,.inlamning4 h2,.inlamning4 h3, .inlamning4 h4{
	text-align: center;
	background: #096c3d;
	color: white;
}
.inlamning4 .textBody{
	text-align: left;
	float: left;
}
.inlamning4 img{
	padding: 10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	max-width: 100%;
 	height: auto;
}
.inlamning4 #imgLabel{
	font-size: 12px;
	font-style: italic;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#mainInlamning4 {
	background: #26734f;
}
#mainInlamning4 h1, #mainInlamning4 h2{
	text-align: center;
}
#mainInlamning4 ul{
	padding: 10px;
	margin: 30px;
}
#mainInlamning4 table {
	padding: 10px;
	margin: 10px;
	border-style: none;
}
#mainInlamning4 ul li{
	font-style: italic;
}
#mainInlamning4 > p:nth-child(2) {
	border-color: white;
	border-width: 5px;
	border-style: solid;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px;
}
#mainInlamning4 > p:nth-child(4) {
	border-color: black;
	border-width: 5px;
	border-style: solid;
	background-color: yellow;
	color: black;
	padding: 10px;
	margin: 10px;
}
#mainInlamning4 > p:nth-child(7) {
	font-weight: bold;
	font-style: italic;
	padding: 10px;
	margin: 10px;

}
#mainInlamning4 table th{
	background-color: blue;
	font-weight: bold;
}

/*styling for inlamning3*/
.mainLabel{
	margin-top: 20px;
	display: inline-block;
}
fieldset{
	margin-bottom: 15px;
}
input{
	margin-bottom: 5px;
}

/*styling for inlamning5*/
.inlamning5 header{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.inlamning5 header h1{
	padding-left: 20px;
}
.inlamning5 ul{
	padding-right: 20px;
	text-align: left;
}
.inlamning5 li{
	list-style-type: none;
	letter-spacing: 0px;
}
.inlamning5 nav a{
	float: left;
}
.inlamning5 section{
	margin: 10px;
	float: left;
}
.inlamning5 .body form fieldset{
	border-width: 2px;
	border-style: solid;
	border-color: black;
}
.inlamning5 label{
	padding-left: 5px;
}

/*Secondary navigation bar, used for inlamning4*/
.navbarSecondary {
	background-color: #0a8f50;
	font-family: 'Montserrat', sans-serif;
}
.navbarSecondary a {
  	font-size: 16px;
  	color: white;
  	padding: 10px 12px;
  	text-decoration: none;
}
.navbarSecondary {
  display: flex;
  justify-content: space-between;
}
.navbarSecondary a:hover{
  	background-color: #a7ff83;
  	color: black;
}

/*Navigation bar, present at every page*/
.navbar {
	overflow: hidden;
	background-color: #096c3d;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.navbar a {
  	float: right;
  	font-size: 20px;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
.dropdown {
 	float: left;
 	overflow: hidden;
 	margin-right: 25px;

}
.dropdown .dropbtn {
	font-size: 20px;
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {
  	background-color: #a7ff83;
  	color: black;
}
.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #096c3d;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #a7ff83;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Misc*/
#home{
	margin:0 auto;
	font-size: 30px;
	position: absolute;
 	width: 300px;
 	height: 200px;
  	z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -100px 0 0 -150px;
  	white-space: nowrap;
  	text-align: center;
}
#homeh3{
	letter-spacing: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 60px;
}


/*
*COLORS:
*#a7ff83 - light green (hover)
*#096c3d - dark green
*#0a8f50 - second navbar bg color, lighter than dark green
*color palettes
*https://colorhunt.co/palette/167893 - black/blue/White
*https://colorhunt.co/palette/171392 - dark blue / light
*/