* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 } 

.sidebar{
 	position: fixed;
 	left: 0;
 	width: 250px;
 	height: 100%;
 	background: black;
 	font-family: 'Bahnschrift';
 }

.sidebar img {
 	margin-top: 20px;
 	margin-bottom: 20px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
 }
.sidebar header{
	font-size: 35px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.sidebar ul{
	text-align: center;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	font-size: 16px;
	color: black;
	background: white;
	border: 0px;
	border-radius: 5px;
	margin: 20px;
	line-height: 40px;
 	text-decoration: none;
}
.container{
	margin-left: 250px;
	font-family: 'Verdana';
}

.container header{
	font-size: 35px;
	font-weight: bold;
	font-family: Bahnschrift;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
/*
.container .flexbox{
	display: flex;
}

.container .flexbox .item{
	flex-grow: 1;
	width: 200px;
}

.container .flexbox .item img{
	margin: 10px;
 	margin-left: auto;
  	margin-right: auto;
  	width: 200px;
  	height: 200px;
  	background: black;
  	border-radius: 5px;
}

.container .flexbox .item p{
	font-size: 12px;
	width: 200px;
}*/

/*RESPONSIVE
*https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp
*
*/
@media screen and (max-width: 700px) {
.sidebar a{
	float: none;
}

/*.container{

}

.sidebar{
	left: 0
	height: 100%;
	width: 260px
	background-color: black;
	text-align: center;
   	margin: 0 auto;
}
.mainContent{
	background-color: yellow;
	margin: 0 auto;
}
nav ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 180px;
  	background-color: black;
  	display: inline-block;
}
nav li{
	margin-bottom: 20px; 
	background-color: white;
	border-radius: 5%;
	width: 165px;
	padding-bottom: 6px;
}
nav li a{
	display: block;
  	color: #000;
  	text-decoration: none;
}

nav li a:hover{
  	background-color: #555;
  	color: white;
  	border-radius: 5%;
}^*/