* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }

.container{

}

.sidebar{
	float: left;
	height: 100%;
	/*width: 30%;
	background-color: black;
	text-align: center;
   	margin: 0 auto;*/
}
.mainContent{
	float: right;
	width: 70%;
	height: 100%;
	background-color: yellow;
	margin: 0 auto;
}
nav ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 180px;
  	background-color: black;
  	display: inline-block;
}
nav li{
	margin-bottom: 20px; 
	background-color: white;
	border-radius: 5%;
	width: 165px;
	padding-bottom: 6px;
}
nav li a{
	display: block;
  	color: #000;
  	text-decoration: none;
}

nav li a:hover{
  	background-color: #555;
  	color: white;
  	border-radius: 5%;
}