* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 } 

.sidebar{
 	position: fixed;
 	left: 0;
 	width: 250px;
 	height: 100%;
 	background: black;
 	font-family: 'Bahnschrift';
 }

.sidebar img {
 	margin-top: 20px;
 	margin-bottom: 20px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
 }
.sidebar header{
	font-size: 35px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.sidebar ul{
	text-align: center;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	font-size: 16px;
	color: black;
	background: white;
	border: 0px;
	border-radius: 5px;
	margin: 20px;
	line-height: 40px;
 	text-decoration: none;
}

.container{
	margin-left: 250px;
	font-family: 'Verdana';
}

.container header{
	font-size: 35px;
	font-weight: bold;
	font-family: Bahnschrift;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container .flexbox{
	display: flex;
}

.container .flexbox .item{
	flex-grow: 1;
	width: 200px;
}

.container .flexbox .item img{
	margin: 10px;
 	margin-left: auto;
  	margin-right: auto;
  	width: 200px;
  	height: 200px;
  	background: black;
  	border-radius: 5px;
}

.container .flexbox .item p{
	font-size: 12px;
	width: 200px;
}

/*RESPONSIVE
*https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp
*
*/
@media screen and (max-width: 700px) {
.sidebar a{
	float: none;
}}

/*.container{

}

.sidebar{
	left: 0
	height: 100%;
	width: 260px
	background-color: black;
	text-align: center;
   	margin: 0 auto;
}
.mainContent{
	background-color: yellow;
	margin: 0 auto;
}
nav ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 180px;
  	background-color: black;
  	display: inline-block;
}
nav li{
	margin-bottom: 20px; 
	background-color: white;
	border-radius: 5%;
	width: 165px;
	padding-bottom: 6px;
}
nav li a{
	display: block;
  	color: #000;
  	text-decoration: none;
}

nav li a:hover{
  	background-color: #555;
  	color: white;
  	border-radius: 5%;
}^*/
__________________________________________________________________________________________________________________________________________________________________

__________________________________________________________________________________________________________________________________________________________________

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tarek Bermalm - Devstuff</title>
	<link href="design_i6.css" rel="stylesheet" type="p/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Mono:100,200,300,400,500,600" rel="stylesheet">
</head>
<body>
	<div class="sidebar">
		 <img src="logo-1913689_1280.png" alt="flame logo">
		<header>
			Meny
		</header>
		<ul>
		  	<li><a href="/inlamning1.html">Inlämning 1</a></li>
			<li><a href="/Inlamning1_Del2.html">Inlämning 1 - Del 2</a></li>
			<li><a href="/inlamning2.html">Inlämning 2</a></li>
			<li><a href="/inlamning3.html">Inlämning 3</a></li>
			<li><a href="/inlamning4.html">Inlämning 4</a></li>
			<li><a href="/inlamning5.html">Inlämning 5</a></li>
			<li><a href="/inlamning6.html">Inlämning 6</a></li>
		</ul> 
	</div>
	<div class="container">
		<header>
			Innehåll
		</header>
		<div class="flexbox">
			<div class="item">
				<img src="logo-1913689_1280.png" alt="flame, logo">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="item">
				<img src="logo-1913689_1280.png" alt="flame, logo">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="item">
				<img src="logo-1913689_1280.png" alt="flame, logo">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
	</div>
</body>
</html>
