* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 } 

.sidebar{
 	position: fixed;
 	left: 0;
 	width: 250px;
 	height: 100%;
 	background: black;
 	font-family: 'Bahnschrift';
 }

.sidebar img {
 	margin-top: 20px;
 	margin-bottom: 20px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
 }
.sidebar header{
	font-size: 35px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.sidebar ul{
	text-align: center;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	font-size: 16px;
	color: black;
	background: white;
	border: 0px;
	border-radius: 5px;
	margin: 20px;
	line-height: 40px;
 	text-decoration: none;
}

.container{
	margin-left: 250px;
	font-family: 'Verdana';
}

.container header{
	font-size: 35px;
	font-weight: bold;
	font-family: Bahnschrift;
	/*margin-left: 5px;*/
}

.container .flexbox{
	display: flex;
}

.container .flexbox .item{
	flex-grow: 1;
}

.container .flexbox .item img{
  	margin: 10px;
 	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 200px;
  	height: 200px;
  	background: black;
  	border-radius: 5px;
}

.container .flexbox .item p{
	font-size: 12px;
	text-align: center;
	width: 200px;
	margin-left: auto;
  	margin-right: auto;
}

footer{
	text-align: center;
	font-style: italic;
	line-height: 100px;
}

/*RESPONSIVE
*https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp
*
*/
@media screen and (max-width: 700px) {
.sidebar a{
	float: none;
}}